version: '3.8'

services:
  api:
    command: npm run start:dev
    environment:
      NODE_ENV: development
    ports:
      - "3000:3000"
      - "9229:9229"

  web:
    command: npm run dev
    ports:
      - "3001:3000"
    environment:
      NODE_ENV: development

  postgres:
    ports:
      - "5432:5432"

  redis:
    ports:
      - "6379:6379"

  rabbitmq:
    ports:
      - "15672:15672"

  minio:
    ports:
      - "9000:9000"
      - "9001:9001"
